body {
	margin: 0;
}
   
* {
	box-sizing: border-box;
}
   
.column {
	font-size: 4rem;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	padding: 1rem;
   }
   
.floats .column{
	float: left;
	width: 33.333%;
   }

.inline-blocks .column{
	display: inline-block;
	width: 33.333%;
   }

.flexbox {
	display: flex;
	flex-direction: row;
   }

.flexbox .column {
	flex-grow: 1;
}

.grid {
	display:grid;
	grid-template-columns: auto auto auto;
   }