body {
	margin: 0;
}
   
* {
	box-sizing: border-box;
}
   
.column {
	font-size: 4rem;
	color: white;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	/*padding: 1rem;*/
	width: 100%;
   }
   
   .floats {
	float: left;
	width: 33.3%;
   }

.inline-blocks {
	display: inline-block;
	margin-left: -0.135em;
	margin-right: -0.135em;
	width: 33.3%;
   }

.flexbox {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width:100%;
   }

.grid {
	overflow: hidden;
	display:grid;
	grid-template-columns: auto auto auto;
   }