body {
	margin: 0;
}
   
* {
	box-sizing: border-box;
}
   
.content__column {
	font-size: 4rem;
	color: white;
	font-weight: bold;
	font-family: Helvetica, serif;
	text-align: center;
	padding: 1rem;
}
   
.floats .content__column{
	float: left;
	width: 33.333%;
	background-color: #2ecc71;
}

.floats .content__column:first-child {
	background-color: #1abc9c;
}

.floats .content__column:last-child {
	background-color: #3498db;
}

.inline-blocks .content__column{
	display: inline-block;
	width: 33.333%;
	background-color: #d35400;
}

.inline-blocks .content__column:first-child {
	background-color: #f39c12;
}

.inline-blocks .content__column:last-child {
	background-color: #c0392b;
}

.flex-box {
	display: flex;
	flex-direction: row;
}

.flex-box .content__column {
	flex-grow: 1;
	background-color: #27ae60;
}

.flex-box .content__column:first-child {
	background-color: #16a085;
}

.flex-box .content__column:last-child {
	background-color: #2980b9;
}

.grid {
	display:grid;
	grid-template-columns: auto auto auto;
}

.grid .content__column {
	background-color: #e67e22;
}

.grid .content__column:first-child {
	background-color: #f1c40f;
}

.grid .content__column:last-child {
	background-color: #e74c3c;
}