.body {
    margin: 0;
}

html, body {
    width: 100%;
    /*height: 100%;*/
}

a {
    text-decoration: none;
}

header a:hover {
    text-shadow:  0 0 1em red;
}

/* -------------------------------------FOOTER--------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 6% 3px 8%;
}

.header__logo {
    display: flex;
    font-family: Arial, serif;
    font-size: 85px;
    font-weight: bold;
}

.header__logo_plus {
    color: #16a085;
}

.header_links {
    width: 100%;
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
}

.header_links a {
    margin-left: 5%;
}

/* -----------------------------------CONTENT--------------------------------------------*/

.content {
    padding-left: 20%;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16a085;
}

.content_image {
    width: 25%;
}

.content_image img {
    width: 100%;
}

.content_text {
    width: 66%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.content__text_title {
    margin-top: 10px;
    font-size: 24px;
}

.content__text_block {
    margin-top: 10px;
    font-size: 20px;
}

.content__button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content__button button:not(hover){
    transition: 2s;
    font-family: Calibri, serif;
    border-radius: 5px;
    color: tan;
    font-size: 30px;
    background-color: transparent;
    border: solid tan;
}

.content__button button:hover{
    transition: 2s;
    background-color: #2980b9;
    border-color: tan;
    color: #f1c40f;
    cursor: pointer;
}

/*************MENU***************************/

.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.menu-item a {
    background-color: #c0392b;
}

.menu__title {
    margin-top: 16px;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
}

.menu__img {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #3498db;
    margin-top: 16px;
}

.menu__img img {
    width: 50px;
    height: 50px;
}

.menu__img:hover {
    transition: 1s;
    transform: rotate(180deg);
    background: #1abc9c;
}

.menu__img:not(hover) {
    transition: 0.5s;
    transform: rotate(0deg);
}



/*********************FOOTER**********************/

.footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #16a085;
}

.footer__contacts {
    flex-grow: 1;
}

.footer__title {
    margin-top: 10px;
    color: wheat;
    font-size: 25px;
    padding-top: 20px;
}

.footer__form {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer__form form{
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    align-self: center;
}

.text__area {
    height: 100px;
}

input, textarea {
    margin: 5px;
    max-width: 100%;
}