@font-face {
    font-family: "Blackjar";
    src: url("../fonts/blackjar.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body, header {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/blue-pattern.jpg");
    width: 100%;
    overflow: hidden;
}

.wrap-main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}

.header__logo {
        width: 100px;
        height: 100px;
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        color: #00aded;
        box-shadow: 10px 10px #00b3ea;
        border-bottom: solid 4px #21a1d0;
        display: flex;
        justify-content: center;
        background-color: white;
}

.header__nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
}

.nav-menu__line {
    background-color: white;
    height: 15%;
    width: 100%;
    border-radius: 5px;
}

.wrap-main__content {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin-bottom: -214px;
}

.content__wrap-first__title {
    font-family: 'Blackjar', cursive;
    margin-top: 48px;
    font-size: 70px;
    align-self: flex-end;
}

.content__wrap-first__text {
    margin-top: 23px;
    font-size: 30px;
    align-self: flex-end;
}

#content__wrap-first__button-download {
    border: solid 2px white;
    width: 170px;
    margin-top: 46px;
    height: 53px;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content__wrap-first__iphone {
    margin-top: -38px;
    margin-left: 71px;
    width: 228px;
}



/** -------------------------------------- CONTENT ----------------------------------------- **/
.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.wrap-second {
    display: flex;
    justify-content: center;
    padding-top: 145px;
    background-color: #f4f4f4;
    width: 100%;
    overflow: hidden;
}

.wrap-second__left-column {
    width: 612px;
    display: flex;
    flex-direction: column;
    margin-left: 205px;
}

.wrap-second__left-column__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.wrap-second__left-column__text {
    margin-top: 30px;
}

.wrap-second__left-column__sub-text {
    margin-top: 50px;
    border-left: solid 4px #00b3ea;
    font-style: italic;
    padding-left: 20px;
}

.wrap-second__button-say {
    border: solid 2px green;
    width: 170px;
    margin-top: 75px;
    height: 53px;
    align-self: flex-start;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-second__right-column {
    margin-bottom: -100px;
}

.wrap-second__right-column__ipad {
    margin-top: 6px;
    margin-left: 17%;

}

.wrap-third {
    display: flex;
    margin-top: 145px;
    overflow: hidden;
}

.wrap-third__right-column {
    display: flex;
    flex-direction: column;
}

.wrap-third__right-column__title {
    font-size: 32px;
}

@media (min-width: 690px) and (max-width: 950px) {
    .wrap-main__header {
        width: 680px;
    }
    .wrap-main__content {
        width: 680px;
    }

    .content__wrap-first__text {
        font-size: 20px;
    }
}
@media (min-width: 490px) and (max-width: 689px) {
    .wrap-main__header {
        width: 480px;
    }
    .wrap-main__content {
        width: 480px;
    }
    .content__wrap-first__text {
        font-size: 16px;
    }
}

@media (max-width: 489px) {
    .wrap-main__header {
        width: 320px;
    }
    .wrap-main__content {
        width: 320px;
    }
    .content__wrap-first__text {
        font-size: 14px;
    }
}